*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  font-family: sans-serif;
  background-color: rgb(45, 65, 92);
}

.contenedor{
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  background-color: #e4e4e4;
  box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 10px;
  border-radius: 20px;
}

/*======================================================*/
.nav{
  background-color: rgb(43, 43, 43);
  margin-bottom: 80px;
  border-radius: 20px 20px 0px 0px;
}

.nav .logo1 img{
  border-radius: 15px;
}

.nav .logo1{
  display: flex;
  justify-content: center;

}

.enlaces{
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  background-color: rgb(43, 43, 43);
  border-radius: 20px 20px 0px 0px;
}

.aqui{
  background-color: rgb(123, 209, 144);
  text-align: center;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.enlaces a{
  background-color: rgb(43, 43, 43);
  text-decoration: none;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}

.enlaces a:hover{
  background-color: rgb(2, 119, 48);
}

@media (min-width: 400px) {
  .enlaces a, .enlaces .aqui{
    width: 33%;
  }

}

/*======================================================*/

.titulopage, .buscarnuevo{
  width: 100%;
  text-align: center;
  margin: 15px;
}

.nav{
  width: 100%;
}

.contenedorSecundario{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

}

.botonescatalogos{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.contenedorInformacion{
  border: 1px solid black;
  flex-direction: column;
  font-size: 13px;
  margin-bottom: 20px;
}

.itemInformacion{
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #626262;
}
.parteIzquierdaitemInformacion{
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  border-bottom: 1px solid rgb(184, 184, 184);
}
.parteDerechaitemInformacion{
  width: 20%;
  margin-top: 5%;
}
.parteDerechaitemInformacion input{
  width: 100%;
}
.titulo{
  width: 50%;
  text-align: left;
  padding-left: 4px;

}
.tituloproceso{
  width: 50%;
  padding-right: 4px;
  text-align: left;
}

.descripcion{
  width: 100%;
}
img {
  max-width: 100%;
}
@media (min-width: 600px) {

  .contenedor{
    max-width: 1000px;
  }
  .parteIzquierdaitemInformacion{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
  }
  .parteDerechaitemInformacion{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .barra{
    width: 70%;
  }

  .nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .logo1{
    width: 25%;
  }
  .enlaces{
    width: 75%;
  }

  /*======================================================*/

  .enlaces a, .enlaces .aqui{
    width: auto;
    padding: 5px;
  }

  .nav{
    margin-bottom: 5px;
  }

  /*======================================================*/


}
