*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.contenedor{
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  background-color: #e4e4e4;
  box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 10px;
}
.aqui{
  color: rgb(147, 136, 154);
}
.nav, .titulopage, .contenedorInformacion, .contenedorsegundario{
  width: 100%;
}
img {
  max-width: 100%;
}

.imagenProducto{
  width: 50%;
  max-width: 150px;
  margin: auto;
}

.titulopage{
  text-align: center;
  margin-bottom: 10px;
}
.contenedorInformacion{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0px 15px;
}
.registrarinfosup, .registrarinfomed, .registrarinfoinf{
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  font-size: 13px;
  margin-bottom: 12px;
}
.registrarinfosup div{
  margin-top: 5px;
}
.registrarinfomed div{
  margin-top: 5px;
}


.registrarinfoinf div{
  margin-top: 5px;
}

.contenedorsegundario{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 15px;
}

.tituloinfo{
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 600px) {

  .contenedor{
    max-width: 1000px;
  }

  .llenables, .labels{
    width: 50%;
  }

 .registrarinfosup, .registrarinfomed, .registrarinfoinf{
   width:80%;
   margin: auto;
   flex-flow: row wrap;
 }

 .nav{
   display: flex;
   flex-flow: row wrap;
   align-items: center;
 }
 .logo1{
   width: 25%;
 }
 .enlaces{
   width: 75%;
 }


}
