*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.contenedor{
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  background-color: #e4e4e4;
  box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 10px;
}

.aqui{
  color: rgb(147, 136, 154);
}

.titulopage, .buscarnuevo{
  width: 100%;
  text-align: center;
  margin: 15px;
}

.nav{
  width: 100%;
}

.contenedorSecundario{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

}

.filtroInicial, .filtroFinal{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.desplegable1 select{
  width: 100%;
  display: flex;
}

.botonConsultar{
  width: 100%;
  display: flex;
  justify-content: center;
}

.opcionesDeFiltro{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.contenedorInformacion{
  border: 1px solid black;
  flex-direction: column;
  font-size: 13px;
  margin-bottom: 20px;
}

.contenedor1{
  margin-top: 20px;
}

.itemInformacion{
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #626262;
}
.parteIzquierdaitemInformacion{
  display: flex;
  flex-flow: row wrap;
  width: 100%;

}

.titulo{
  width: 55%;
  text-align: left;
  padding-left: 4px;
}

.titulosmedio{
  width: 100%;
  text-align: left;
  padding-left: 4px;
}

.tituloproceso{
  width: 45%;
  padding-right: 4px;
  text-align: left;
}

.descripcion{
  width: 100%;
}
img {
  max-width: 100%;
}
@media (min-width: 600px) {

  .contenedor{
    max-width: 1000px;
  }

  .contenedorSecundario{
    width: 60%;
    margin: auto;
  }

  .nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .logo1{
    width: 25%;
  }
  .enlaces{
    width: 75%;
  }

}
